.sign-in-box-container {
    width: 80%;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
}

.sign-in-box-p {
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    line-height: 155%;
}

#signInDiv {
   margin: auto;
   transform: scale(1.4);
   margin-bottom: 12px;
}