/* table {
    border: 2px solid black;
    text-align: center;
    width: 80%;
}

.game-totals-box {
    background-color: grey;
    border: 3px solid black;
    border-radius: 20px;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.teams-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-box {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

h3 {
    text-transform: uppercase;
    font-size: 26px;
}
/* 
.away-team-box {
    background-color: #007A33;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.home-team-box {
    background-color: #98002E;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
} */





.game-details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.game-box-container {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: grey;
    border: 5px solid black;
}

.game-box-team-container
{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-box-score-container {
    flex: 1.5;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.buttons-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    padding: 10px;
    border: 3px solid black;
    color: black;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    width: 15%;
    margin: 30px 0;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.active-lal {
    color: white;
    background-color: #552583;
  }
  
.active-den {
    background-color: #0E2240;
    color:white;
}