.game-container {
    width: 100%;
    border: 4px solid black;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.game-container:hover 
{
    transform: scale(1.05);
}

.team-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

.score-container {
    flex:2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2px;
}

.home-team {
    background-color: #552583;
    color: white;
}

.away-team {
    background-color: #0E2240;
    color: white;
}

h2 {
    color: black;
    font-size: 30px;
}

h3, p {
    font-size: 18px;
    font-weight: bold;
}

