.game-container {
    width: 100%;
    border: 4px solid darkgray;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: start;
    cursor: pointer;
}

.game-container:hover 
{
    background-color: lightpink;
    border: 4px solid black;
}

.team-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

.score-container {
    flex:2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 6px;
}